table{
    width: 50%;
    border-collapse: collapse;
}

th{
border-style: solid;
background-color: rgb(204, 204, 204);
}

td{
border-style:solid;
text-align: center;
}

tr:hover{
    background-color: rgb(255, 233, 40);
}